<a routerLink="elxpackagemoduletransactionversion">ELXPackageModuleTransactionVersion</a>
<a routerLink="elxpackagemoduleversion">ELXPackageModuleVersion</a>
<a routerLink="elxpackagetransaction">ELXPackageTransaction</a>
<a routerLink="elxpackagetransactionversion">ELXPackageTransactionVersion</a>
<a routerLink="elxrole">ELXRole</a>
<a routerLink="elxtransaction">ELXTransaction</a>
<a routerLink="elxaddressingstock">ELXAddressingStock</a>
<a routerLink="elxbarcodetype">ELXBarcodeType</a>
<a routerLink="elxbarcodetypeinfo">ELXBarcodeTypeInfo</a>
<a routerLink="elxdescription">ELXDescription</a>
<a routerLink="elxkardexbalance">ELXKardexBalance</a>
<a routerLink="elxkardex">ELXKardex</a>
<a routerLink="elxkardexdailybalance">ELXKardexDailyBalance</a>
<a routerLink="elxlocalstock">ELXLocalStock</a>
<a routerLink="elxlocalstockmat">ELXLocalStockMat</a>
<a routerLink="elxmarketstructure">ELXMarketStructure</a>
<a routerLink="elxmarketstructureinfo">ELXMarketStructureInfo</a>
<a routerLink="elxotherspackaging">ELXOthersPackaging</a>
<a routerLink="elxproductbycompany">ELXProductByCompany</a>
<a routerLink="elxproduct">ELXProduct</a>
<a routerLink="elxproductinfo">ELXProductInfo</a>
<a routerLink="elxunitmeasure">ELXUnitMeasure</a>
<a routerLink="elxunitmeasuregreatness">ELXUnitMeasureGreatness</a>
<a routerLink="elxunitmeasuregreatnessinfo">ELXUnitMeasureGreatnessInfo</a>
<a routerLink="elxunitmeasureinfo">ELXUnitMeasureInfo</a>
<a routerLink="elxbusinessorganization">ELXBusinessOrganization</a>
<a routerLink="elxbusinessorganizationinfo">ELXBusinessOrganizationInfo</a>
<a routerLink="elxlanguage">ELXLanguage</a>
<a routerLink="elxmarketsegment">ELXMarketSegment</a>
<a routerLink="elxmarketsegmentinfo">ELXMarketSegmentInfo</a>
<a routerLink="elxmodule">ELXModule</a>
<a routerLink="elxmoduleinfo">ELXModuleInfo</a>
<a routerLink="elxuniverse">ELXUniverse</a>
<a routerLink="elxaddress">ELXAddress</a>
<a routerLink="elxaddresstype">ELXAddressType</a>
<a routerLink="elxaddresstypeinfo">ELXAddressTypeInfo</a>
<a routerLink="elxlegalperson">ELXLegalPerson</a>
<a routerLink="elxphysicalperson">ELXPhysicalPerson</a>
<a routerLink="elxcontact">ELXContact</a>
<a routerLink="elxcontacttype">ELXContactType</a>
<a routerLink="elxcontacttypeinfo">ELXContactTypeInfo</a>
<a routerLink="elxdegreeeducation">ELXDegreeEducation</a>
<a routerLink="elxdocument">ELXDocument</a>
<a routerLink="elxdocumenttype">ELXDocumentType</a>
<a routerLink="elxdocumenttypeinfo">ELXDocumentTypeInfo</a>
<a routerLink="elxemployee">ELXEmployee</a>
<a routerLink="elxlegalperson">ELXLegalPerson</a>
<a routerLink="elxoccupation">ELXOccupation</a>
<a routerLink="elxperson">ELXPerson</a>
<a routerLink="elxphysicalperson">ELXPhysicalPerson</a>
<a routerLink="elxprofessionalsegment">ELXProfessionalSegment</a>
<a routerLink="elxrelationshipperson">ELXRelationshipPerson</a>
<a routerLink="elxrelationshiptype">ELXRelationshipType</a>
<a routerLink="elxrelationshiptypeinfo">ELXRelationshipTypeInfo</a>
<router-outlet></router-outlet>
