<dx-scroll-view [scrollByContent]="true"
                [scrollByThumb]="true"
                [showScrollbar]="true">
  <div class="treeViewComponent">
    <dx-tree-view
      id="fluxoView"
      [items]="treeViewItems"
      dataStructure="tree"
      keyExpr="id"
      displayExpr="name"
      rootValue=""
      noDataText="Nenhuma funcionalidade encontrada."
      [searchEnabled]="true"
      searchMode="contains"
      (onItemClick)="selectItem($event)"
      (onItemContextMenu)="openContextMenu($event)">
    </dx-tree-view>

    <dx-context-menu 
      [dataSource]="contextMenu"
      target="#fluxoView" 
      (onItemClick)="itemContextSelect($event)">
    </dx-context-menu>
  </div>
</dx-scroll-view>
