<div class="long-title">
  <h3>Material</h3>
</div>

<hr>

<dx-form [colCount]="2" labelLocation="top">
  <dxi-item itemType="group" caption="Filtro Cadastro Geral">
    <dxi-item dataField="organizationFilter" editorType="dxSelectBox" [editorOptions]="{ dataSource: organizationFilterItems, displayExpr: 'value' }">
      <dxo-label text="Organização"></dxo-label>
    </dxi-item>
    <dxi-item dataField="categoryFilter" editorType="dxAutocomplete" [editorOptions]="{ dataSource: categoryFilterItems, placeholder: 'Pesquisar Categoria' }">
      <dxo-label text="Categoria"></dxo-label>
    </dxi-item>
    <dxi-item dataField="materialFilter" editorType="dxAutocomplete" [editorOptions]="{ dataSource: materialFilterItems, placeholder: 'Pesquisar' }">
      <dxo-label text="Material / Código / Código de Barras / Referência"></dxo-label>
    </dxi-item>
  </dxi-item>
  <dxi-item itemType="group" caption="Filtro Por Sortimento">
    <dxi-item dataField="divisionFilter" editorType="dxAutocomplete" [editorOptions]="{ dataSource: divisionFilterItems, placeholder: 'Pesquisar Divisão' }">
      <dxo-label text="Divisão"></dxo-label>
    </dxi-item>
    <dxi-item dataField="companyFilter" editorType="dxAutocomplete" [editorOptions]="{ dataSource: companyFilterItems, placeholder: 'Pesquisar Empresa', displayExpr: 'value' }">
      <dxo-label text="Empresa"></dxo-label>
    </dxi-item>
    <dxi-item dataField="businessUnitFilter" editorType="dxAutocomplete" [editorOptions]="{ dataSource: businessUnitFilterItems, placeholder: 'Pesquisar Unidade de Negócio', displayExpr: 'value' }">
      <dxo-label text="Unidade de Negócio"></dxo-label>
    </dxi-item>
  </dxi-item>
</dx-form>

<elxproduct-dao-component></elxproduct-dao-component>