<div>
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6 mr-auto ml-auto">
					<div class="card card-register">
						<div>
							<!-- <h2 class="title">Lucax</h2> -->
							<img src="../../../assets/img/lucax-logo.png" class="logo">
							<h3 class="title">Tecnologia</h3>
							<form class="register-form">
								<label>Email</label>
								<!-- <input [(ngModel)]="usuario.nome" type="text" class="form-control" placeholder="Email"  name="nome"> -->
								<input  type="text" class="form-control" placeholder="Email"  name="nome">
								<label>Password</label>
								<!-- <input [(ngModel)]="usuario.senha" type="password" class="form-control" placeholder="Password"   name="senha"> -->
								<input type="password" class="form-control" placeholder="Password"  name="senha">
								<label> </label>
								<button class="btn btn-default btn-block btn-round" (click)="login($event)" >LOGIN</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


