<div id="vx-tabs">
    <ul dnd-sortable-container [sortableData]="getTabs()">
        <li (onDropSuccess)="tabsService.calculatePosition()" [ngClass]="{'vx-tab': true, 'active': tabDoc.selected}" [ngStyle]="{'z-index': (tabDoc.selected)?200:150-tabDoc.index}" *ngFor="let tabDoc of getTabs(); let i = index" dnd-sortable [sortableIndex]="i">
            <a class="vx-tab-link" routerLink="/{{tabDoc.urlPrefix}}/{{tabDoc.keyPath}}">
                <div class="vx-tab-content">
                    <img *ngIf="tabDoc.icon" [src]="tabDoc.icon"/>
                    <span class="vx-tab-title">{{tabDoc.title}}<small class="vx-tab-domain">{{tabDoc.domain()}}</small></span>
                </div>
                <div class="vx-tab-shape">
                    <svg class="svg-tab-shape" viewBox="0 0 40 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path d="M0,0 L7.54267562,0 L7.54267562,-3.55271368e-15 C11.2522257,-4.23414698e-15 14.6569761,2.05346046 16.387649,5.33454767 L39.9473059,50 L0,50 L0,0 Z" id="Rectangle"></path>
                        <path d="M0.0424605226,0.785861353 C-0.283941812,0.785861353 2.0337283,0.785861353 6.99547085,0.785861353 C14.4380847,0.785861353 15.5739894,5.35803704 19.591848,13.0576989 C22.2704203,18.1908068 28.667736,30.3174165 38.783795,49.4375279" id="Path" stroke-width="1.5"></path>
                    </svg>
                </div>
            </a>
            <span class="vx-close-btn" *ngIf="tabsService.list().length > 1" (click)="tabDoc.remove()" style="cursor:pointer;">
                <svg class="svg-close-btn" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Group-3" transform="translate(-202.000000, -15.000000)">
                            <g id="Group-4" transform="translate(202.000000, 15.000000)">
                                <circle id="Oval" fill-opacity="0.3" fill="#000000" cx="10" cy="10" r="10"></circle>
                                <g id="Group" transform="translate(7.000000, 7.000000)" stroke="#FFFFFF" stroke-linecap="square">
                                    <path d="M0,6 L6,0" id="Line"></path>
                                    <path d="M0,6 L6,0" id="Line" transform="translate(3.000000, 3.000000) scale(-1, 1) translate(-3.000000, -3.000000) "></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </span>
        </li>
    </ul>
</div>