// custom.scss
// Overrides variables

$body-bg: #FFF; // SOBRESCREVER COR DE FUNDO DO BOOTSTRAP

$elx-primary-color: #152a63; // DEFINICAO DE COR ROXA
$elx-darker-color: #1c1b1b; // DEFINICAO DE COR ROXA MAIS ESCURO

$theme-colors: (
    "primary": $elx-primary-color, // SOBREESCREVER COR PRIMARY PARA OS COMPONENTS DO BOOTSTRAP
);

