// FOLHA DE ESTILO PARA O PROJETO 

@import "src/styles/_variables";

button {
    cursor: pointer;
}

$elx-nav-height: 49px;
$elx-menu-width: 245px;
$elx-code-width: 350px;
$elx-secondary-color: #BD1E2D;
$elx-secondary-color-darker: #93212C;
$elx-nav-logo-height: 30px;
$elx-primary-color-lighter: #786B85;

$elx-sidebar-width-open: 250px;
$elx-sidebar-height: 60px;
$elx-sidebar-color: #7386D5; 
$elx-sidebar-width-closed: 80px;
$elx-menu-background: linear-gradient(to top, #496fc2, rgb(0, 56, 134));

.wrapper {
  display: flex;
  align-items: stretch;
}


#sidebar {
  min-width: $elx-sidebar-width-open;
  max-width: $elx-sidebar-width-open;
  box-shadow: -1px 0px 15px grey;
  color: #fff;
  transition: all 0.1s;
  z-index: 99;

  &.active {
    min-width: $elx-sidebar-width-closed;
    max-width: $elx-sidebar-width-closed;
    // text-align: center;

    #vx-tabs {
      margin-left: $elx-sidebar-width-closed;
    }

    #btnBarLeft {
        -ms-transform: rotate(20deg); /* IE 9 */
        -webkit-transform: rotate(20deg); /* Safari 3-8 */
        transform: rotate(180deg);
        transition-delay: 0.2s;
        display: none;
    }

    &:hover{
        min-width: $elx-sidebar-width-open;
        max-width: $elx-sidebar-width-open;
        // transition-delay: 0.1s;

        #btnBarLeft {
            transition-delay: 2s;
            display: block;
        }

        .treeViewMenu {
          display: block;
        }

        #iconMenu.dx-icon-search {
          display: none;
        }

    }
      
      .sidebar-header {
        box-shadow: -1px 0px 15px grey;

        #imgFull {
          padding: 10px;
          display: none;
        }

        #imgSmall {
          padding: 10px;
          display: block;
        }
      }

      .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
      }

      .treeViewMenu {
        display: none;
      }

      #iconMenu.dx-icon-search {
        display: none;
      }
      
  }
  #iconMenu.dx-icon-search {
    font-size: 50px;
    color: black;
    display: block;
  }

  .sidebar-header {
    padding: 10px;
    background: $elx-menu-background;
    box-shadow: 0px 0px 15px grey;
    max-height: $elx-sidebar-height;
    min-height: $elx-sidebar-height;

    #btnBarLeft {
      float: right;
    }

    #imgSmall {
      display: none;
    }
  }
  .dx-icon-arrowleft{
    color: #fff !important;
  }

}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;

  .navbar {
      background: $elx-menu-background;
      max-height: $elx-sidebar-height;
      min-height: $elx-sidebar-height;
      box-shadow: 10px 0px 15px grey;
  }
}

#userProfile {
  color: white;
}


@media (max-width: 768px) {
  #sidebar {
      margin-left: -80px !important;
  }
}

// TAB
$vx-secondary-color: #BD1E2D;
$vx-secondary-color-darker: #93212C;
$vx-nav-height: 49px;
$vx-tab-height: 45px;
$vx-tag-svg-h: $vx-tab-height;
$vx-menu-width: $elx-sidebar-width-open;
$vx-tag-svg-r: -36px;
$vx-tag-svg-w: 40px;
$vx-close-side: 18px;

#vx-tabs {
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 901;
  height: $vx-nav-height;

  // background-color: #FFF;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
  &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
      display: none;
  }

  ul {
      padding: 0;
      margin: 0;
      height: $vx-tab-height;
      position: absolute;
      bottom: 0;
  }
  
  li {
      display: inline-block;
      height: $vx-tab-height;
      margin-right: 20px;
  }
  
  .vx-tab {
      position: relative;
  }
  
  .vx-tab.active {
      z-index: 200;
  }
  
  .vx-tab-link {
      position: relative;
      display: block;
      height: $vx-tab-height;
  }
  .vx-tab:hover .vx-tab-link,
  .vx-tab:active .vx-tab-link {
      text-decoration: none;
      color: $body-bg;
  }
  .vx-tab-content img {
      width: 14px;
      height: 14px;
      display: inline-block;
      position: relative;
      top: -10px;
      margin-right: 4px;
  }
  .vx-tab-content {
      background-color: $vx-secondary-color; /* BACKGROUND QUANDO DESATIVADO */
      color: #FFF;
      padding: 10px 14px;
      border-top-left-radius: 10px;
      display: block;
      height: $vx-tab-height;
      padding-right: 23px;
      font-size: 13px;
  
      min-width: 100px;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
  
      border: 1px solid $vx-secondary-color-darker;
      border-bottom: 0;
  }
  
  .vx-tab:hover .vx-tab-content {
      background-color: $vx-secondary-color-darker; /* BACKGROUND QUANDO HOVER */
      border: 1px solid $vx-secondary-color-darker;
      border-bottom: 0;
  }
  
  .vx-tab.active .vx-tab-content {
      color: #474747;
      background-color: $body-bg; /* BACKGROUND QUANDO ATIVO */
      border: 1px solid $body-bg;
      border-bottom: 0;
  }
  
  .vx-tab-content .vx-tab-title {
      display: inline-block;
      overflow: hidden;
      line-height: 1.1;
  }
  .vx-tab-title .vx-tab-domain {
      display: block;
      font-size: 60%;
      opacity: .6;
  }
  
  
  .vx-tab .vx-tab-shape {
      position: absolute;
      height: $vx-tab-height;
      top: 0px;
      right: $vx-tag-svg-r;
  }
  
  .vx-tab .svg-tab-shape {
      width: $vx-tag-svg-w;
      height: $vx-tab-height;
      fill: $vx-secondary-color; /* SHAPE QUANDO DESATIVADO */
  }
  .vx-tab .svg-tab-shape #Path{
      stroke: $vx-secondary-color-darker;
  }
  
  .vx-tab:hover .svg-tab-shape {
      fill: $vx-secondary-color-darker; /* SHAPE QUANDO HOVER */
  }
  .vx-tab:hover .svg-tab-shape #Path {
      stroke: $vx-secondary-color-darker;
  }
  
  .vx-tab.active .svg-tab-shape {
      fill: $body-bg; /* SHAPE QUANDO ATIVO */
  }
  .vx-tab.active .svg-tab-shape #Path {
      stroke: $body-bg;
  }
  
  .vx-tab .vx-close-btn {
      position: absolute;
      top: ($vx-tab-height - $vx-close-side) / 2;
      right: -9px;
      display: none;
  }
  
  .vx-tab .svg-close-btn {
      width: $vx-close-side;
      height: $vx-close-side;
  }
  
  .vx-tab:hover .vx-close-btn {
      display: block;
  }
}



.card-register {
    background-image: linear-gradient(#0047AB, #007FFF);
    max-width: 350px;
    margin: 30px 0 70px;
    min-height: 400px;
    padding: 30px;
    z-index: 1;
    box-shadow: 5px 10px 30px #000;
}

.card-register label {
    margin-top: 15px;
    color: white;
}

.logo {
    margin-left: 32%;
}

.card-register .title {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}

.card-register .btn {
    margin-top: 30px;
}


.page-header {
    background-image: #fff;
    // background-image: linear-gradient(#0047AB, #007FFF);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control {
    height: 40px;
    box-shadow: none;
}

input{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    font-weight: 300;
}

.btn-danger {
    color: #000;
    background-color: #aba1a1;
    border-color: #000000;
}

.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 20px;
}
