<div class="wrapper">
  <!-- SIDEBAR -->
  <nav id="sidebar" [ngClass]="act ? 'active' : 'false'">
    <div class="sidebar-header">
      <img id="imgFull" src="../../../assets/img/lucax-logo.png">
      <dx-button [ngClass]="rotate ? 'rotateImg' : 'false'" id="btnBarLeft" icon="arrowleft" (onClick)="onClick()"></dx-button>
      <img id="imgSmall" src="../../../assets/img/logoSmall.png">
    </div>

    <!-- TREEVIEW LIST AQUI -->
    <div class="treeview-components" [ngClass]="act ? 'active' : 'false'">
      <tree-view class="treeViewMenu"></tree-view>
      <!-- <span id="iconMenu" class="dx-icon-search" [ngClass]="act ? 'active' : 'false'"></span> -->
    </div>

  </nav>

  <!-- PAGE CONTENT -->
  <div id="content">

    <!-- TOP BAR -->
    <nav id="menuTop" class="navbar">
      <div id="tab">
        <vx-tabs></vx-tabs>
      </div>
      <div id="userProfile">
        Usuário Lucax
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>