<div class="container col-12 h-100">
  <div class="row h-100">
      <!-- TREEVIEW -->
      <div class="col-3 h-100 border-right">
          <dx-tree-view id="treeview" dataStructure="plain" [items]="items" width="100%" keyExpr="idnode"
              displayExpr="namenode" parentIdExpr="parentnode" [searchEnabled]="true" searchMode="contains" [createChildren]="createChildren"
              (onItemHold)="onItemHold($event)" (onItemContextMenu)="onItemContextMenuTreeView($event)" (onItemClick)="onItemClickTreeView($event.itemData)"
              (onItemRendered)="onContentReadyTree($event)" (onItemSelectionChanged)="onItemSelectionChanged($event)"></dx-tree-view>
      </div>

      <div class="col-9 h-100">
          <!-- FORM -->
          <div class="col align-self-start h-50 p-4">
              <h4>{{ titleForm }}</h4>
              <hr>
              <!-- <div id="nameCurrent">{{ currentItemForm | json }}</div> -->
              <form (submit)="onFormSubmit($event)">
                  <dx-form [formData]="currentItemForm">

                      <div *ngIf="currentTag == 0">
                          <dxi-item dataField="id" i18n-caption caption="id" dataType="number" [editorOptions]="{ disabled: true, visible: false }">
                              <dxo-label [visible]="false"></dxo-label>
                          </dxi-item>
                          <dxi-item dataField="name" i18n-caption caption="name" dataType="string">
                              <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
                          </dxi-item>
                          <dxi-item dataField="lastUpdateDate" i18n-caption caption="lastUpdateDate" dataType="datetime" format="dd/MM/yyyy HH:mm:ss"
                              [editorOptions]="{ disabled: true, visible: false }">
                              <dxo-label [visible]="false"></dxo-label>
                          </dxi-item>
                      </div>

                      <!-- PKGTRANSACTION -->
                      <div *ngIf="currentTag == 1">
                          <dxi-item dataField="id" dataType="number" [editorOptions]="{ disabled: true, visible: false }">
                              <dxo-label [visible]="false"></dxo-label>
                          </dxi-item>
                          <dxi-item dataField="idMarketSegment" i18n-caption caption="idMarketSegment" [editorOptions]="{ disabled: true, visible: false }">
                              <dxo-label [visible]="false"></dxo-label>
                              <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
                          </dxi-item>
                          <dxi-item dataField="name" i18n-caption caption="name" dataType="string">
                              <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
                          </dxi-item>
                          <dxi-item dataField="description" i18n-caption caption="description" dataType="string">
                              <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
                          </dxi-item>
                          <dxi-item dataField="lastUpdateDate" i18n-caption caption="lastUpdateDate" dataType="datetime" [editorOptions]="{ disabled: true, visible: false }"
                              format="dd/MM/yyyy HH:mm:ss">
                              <dxo-label [visible]="false"></dxo-label>
                          </dxi-item>
                      </div>

                      <!-- VERSION PKG TRANSACTION -->
                      <div *ngIf="currentTag == 2">
                          <dxi-item dataField="id" i18n-caption caption="id" dataType="number" [editorOptions]="{ disabled: true, visible: false }">
                                  <dxo-label [visible]="false"></dxo-label>
                          </dxi-item>
                          <dxi-item dataField="idPackageTransaction" i18n-caption caption="idPackageTransaction" dataType="number" [editorOptions]="{ disabled: true, visible: false }">
                              <dxo-label [visible]="false"></dxo-label>
                              <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
                          </dxi-item>
                          <dxi-item dataField="version" i18n-caption caption="version" dataType="string">
                              <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
                          </dxi-item>
                          <dxi-item dataField="lastUpdateDate" i18n-caption caption="lastUpdateDate" dataType="datetime" [editorOptions]="{ disabled: true, visible: false }"
                              format="dd/MM/yyyy HH:mm:ss">
                              <dxo-label [visible]="false"></dxo-label>
                          </dxi-item>
                      </div>

                      <dxi-item itemType="button" alignment="right" [buttonOptions]="buttonOptions">
                      </dxi-item>


                  </dx-form>
              </form>
          </div>

          <!-- LIST -->
          <div *ngIf="repoEnable" class="col align-self-end h-50">
              <div class="row">
                  <div class="col w-50">
                      <h4>{{ titleRepo }}</h4>
                      <hr>
                      <dx-list id="listModules" [dataSource]="listItems" height="80%" [searchEnabled]="true" searchExpr="Name" searchMode="contains"
                          itemHoldTimeout="1" (onItemHold)="onClickHold($event)" (onFieldDataChanged)="onFieldDataChanged($event)"
                          (onContentReady)="onContentReadyObjetos($event)">
                          <div *dxTemplate="let item of 'item'">
                              <div>{{item.value}}</div>
                          </div>
                      </dx-list>
                  </div>
                  <!-- <div class="col w-50">
                      <h4>{{ titleTransaction }}</h4>
                      <hr>
                      <dx-list id="listTransaction" [dataSource]="listTransactionItems" height="80%" [searchEnabled]="true" searchExpr="Name" searchMode="contains"
                          itemHoldTimeout="1" (onItemHold)="onClickHold($event)" (onFieldDataChanged)="onFieldDataChanged($event)"
                          (onContentReady)="onContentReadyObjetos($event)">
                          <div *dxTemplate="let item of 'item'">
                              <div>{{item.name}}</div>
                          </div>
                      </dx-list>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>

<!-- CONTEXT MENU -->
<dx-context-menu [dataSource]="contextItems" target="#treeview" (onItemClick)="onItemClickContext($event.itemData)">
</dx-context-menu>
