<dx-data-grid
    id="elxbusinessorganizationinfo-dao-component"
    keyExpr="id"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [showColumnLines]="true"
    [showRowLines]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [masterDetail]="masterDetailConf"
    (onToolbarPreparing)="onToolbarPreparing($event)"
    (onCellPrepared)="onCellPrepared($event)">

    <!-- CONFIGURATION TO HIDE OR SHOW COLUMNS ON THE TABLE -->
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

    <!-- DATAGRID EDITING CONFIGURATION -->
    <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>

    <!-- ORDERING CONFIGURATION FOR MORE THAN ONE COLUMN -->
    <dxo-sorting mode="multiple"></dxo-sorting>

    <!-- CONFIGURATION FOR DATAGRID SEARCH -->
    <dxo-search-panel [visible]="true" placeholder="Search"></dxo-search-panel>
    <dxo-export [enabled]="true" fileName="ELXBusinessOrganizationInfoDAO" [allowExportSelectedData]="false"></dxo-export>

    <!-- CONFIGURATION FOR GROUPING -->
    <dxo-group-panel [visible]="true"></dxo-group-panel>

    <!-- DATAGRID PAGINATION SETTINGS -->
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15, 25]" [showInfo]="true" infoText="Page {0} de {1} ({2} items)"></dxo-pager>

    <!-- PERSISTS THE CONFIGURATION USED IN THE TABLE -->
    <!-- WHEN YOU FINISH TO EDIT THIS COMPONENT, DECOMMIT THE LINE BELOW -->
    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="elxbusinessorganizationinfo-dao-component"></dxo-state-storing>

    <div *dxTemplate="let rowDetails of 'detail'">
        <div class="table-responsive">
            <table class="table table-sm">
                <tbody>
                    <tr *ngFor="let columnObj of hiddenColumns(rowDetails)">
                        <th style="width: 140px;" class="text-right">{{columnObj.caption}}</th>
                        <td>{{columnObj.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- DATAGRID COLUMNS -->
    <dxi-column dataField="id" i18n-caption caption="id" dataType="number" [allowEditing]="false" [formItem]="{visible: false}">
    </dxi-column>
    <dxi-column dataField="idBusinessOrganization" i18n-caption caption="idBusinessOrganization" dataType="number" [allowEditing]="true">
        <dxo-lookup [dataSource]="domainIdBusinessOrganization" displayExpr="value" valueExpr="key"></dxo-lookup>
        <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="iDLanguage" i18n-caption caption="iDLanguage" dataType="number" [allowEditing]="true">
        <dxo-lookup [dataSource]="domainIDLanguage" displayExpr="value" valueExpr="key"></dxo-lookup>
        <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="description" i18n-caption caption="description" dataType="string" [allowEditing]="true">
        <dxi-validation-rule type="required" message="Required field"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="lastUpdateDate" i18n-caption caption="lastUpdateDate" dataType="datetime" [allowEditing]="false" [formItem]="{visible: false}" format="dd/MM/yyyy HH:mm:ss">
    </dxi-column>
</dx-data-grid>

<!-- POPUP TYPE FILTER FOR TABLE -->
<dx-popup
    title="Filters"
    [deferRendering]="false"
    [(visible)]="popupVisible"
    (onShowing)="onFilterPopupShowing()">

    <!-- VALUE STRUCTURE FOR FILTER -->
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view direction="both"> 
            <dx-filter-builder
                [(value)]="filterValue"
                [(allowHierarchicalFields)]="allowHierarchicalFields"
                [fields]="[{dataField: 'id'}, {dataField: 'idBusinessOrganization'}, {dataField: 'iDLanguage'}, {dataField: 'description'}, {dataField: 'lastUpdateDate'}]">
            </dx-filter-builder>
        </dx-scroll-view>
    </div>

    <!-- FOOTER BUTTONS -->
    <dxi-toolbar-item
        toolbar="bottom"
        location="after"
        widget="dxButton"
        [options]="applyFilterButtonOptions">
    </dxi-toolbar-item>
    <dxi-toolbar-item
        toolbar="bottom"
        location="after"
        widget="dxButton"
        [options]="cancelButtonOptions">
    </dxi-toolbar-item>
</dx-popup>
<!-- END OF FILTER -->
